*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

.js-waypoint-1, .js-waypoint-2, .js-waypoint-3, .js-waypoint-4, .js-waypoint-5, .js-waypoint-6 {
  opacity: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  word-spacing: 0.5rem;
}

.heading-primary,
.secondary-heading {
  font-weight: 600;
}

.heading-primary {
  font-size: 5rem;
  color: #fff;
}

.secondary-heading {
  font-size: 3.2rem;
}

.heading-third {
  font-size: 2.4rem;
  text-transform: capitalize;
  font-weight: 600;
}

.heading-four {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #fff;
}

.header-paragraph {
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-align: left;
  width: 60%;
}

.paragraph {
  color: #7A7A7A;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  line-height: 150%;
}

.u-colum-height-40rem {
  height: 40rem;
}

.u-margin-big {
  margin: 8rem 0;
}

.u-page-common-bg {
  background-color: #efefef;
}

.u-color-primary {
  color: #205EA8;
}

.u-color-primary-bg {
  background-color: #205EA8;
}

.u-margin-big {
  margin: 8rem 0;
}

.u-navigation-bg {
  background-color: rgba(131, 131, 131, 0.5);
}

.u-width-90 {
  width: 90%;
}

.logo-brightway {
  height: 6rem !important;
}

.header {
  height: 100vh;
  background-image: linear-gradient(to right, rgba(32, 94, 168, 0.8), rgba(32, 94, 168, 0.8)), url("/source/img/painting-slide-1.jpg");
  background-position: center;
  background-size: cover;
}
.header nav {
  background-color: rgba(131, 131, 131, 0.8);
  position: relative;
}

.content-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content-box__description {
  margin-bottom: 5rem;
}
.quick-links {
  padding: 0;
}
.quick-links__li {
  list-style: none;
}
.quick-links__li:not(:last-child) {
  margin-bottom: 2rem;
}
.quick-links__li__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
}
.quick-links__li__link:hover {
  color: #fff;
}

.social-media {
  padding: 0;
}
.social-media__li {
  list-style: none;
  display: inline-block;
  margin-top: 2rem;
}
.social-media__li:not(:last-child) {
  margin-right: 2rem;
}
.social-media__icon {
  font-size: 3rem;
  color: #fff;
}
.social-media__icon:hover {
  color: #205EA8;
}

.footer-container::after {
  margin-top: 2rem;
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #fff;
}

address {
  font-size: 1.4rem;
  color: #fff;
}

.service {
  padding: 8rem 0;
}

.service-features {
  padding: 8rem 0;
  margin: 8rem 0;
}

.questions {
  padding: 8rem 0;
}

.hero-sub-section {
  background-color: #efefef;
  padding: 8rem 0;
}

.skills {
  padding: 8rem 0;
}

.contactUs-Home-banner {
  background-image: linear-gradient(to right, rgba(32, 94, 168, 0.4), rgba(32, 94, 168, 0.4)), url("/source/img/home-banner-painting.jpg");
  background-position: top;
  background-size: cover;
  height: auto;
  padding: 8rem 0;
}

.footer {
  padding: 8rem 0;
  background-color: #959595;
}

.contact-form {
  padding-top: 8rem;
}

.contactPage-social ul {
  padding: 0;
}
.contactPage-social li {
  list-style: none;
  display: inline-block;
}
.contactPage-social li:not(:last-child) {
  margin-right: 2rem;
}
.contactPage-social i {
  font-size: 3rem;
  color: #205EA8;
}
.contactPage-social i:hover {
  color: #000;
}

.field {
  background-color: rgba(32, 94, 168, 0.4);
}

.msg-field {
  height: 20rem;
}

.contact-info {
  padding: 8rem 0;
}

.location {
  padding-bottom: 8rem;
}

.ceo-msg {
  padding: 8rem 0;
}

.img-box {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  transition: all 0.9s;
}
.img-box:hover {
  background-color: rgba(32, 94, 168, 0.6);
}

.ceo-details {
  position: absolute;
  bottom: 2rem;
}
.ceo-details__name {
  background-color: rgba(32, 94, 168, 0.8);
  padding: 1rem;
}

.about-to-service {
  padding: 8rem 0;
  background-image: linear-gradient(to right, rgba(32, 94, 168, 0.7), rgba(32, 94, 168, 0.7)), url("/source/img/about-service.jpg");
  background-size: cover;
  background-position: center;
}

.btn-primary:visited, .btn-primary:link {
  padding: 1.2rem 3.5rem;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.4s;
  color: #fff;
  border: 2px solid #fff;
}
.btn-primary:hover, .btn-primary:active {
  color: #000;
  background-color: #fff;
}

.btn-black:visited, .btn-black:link {
  padding: 1.2rem 3.5rem;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.4s;
  color: #000;
  border: 2px solid #000;
}
.btn-black:hover, .btn-black:active {
  color: #fff;
  background-color: #000;
}

.btn-plane {
  text-decoration: none;
}
.btn-plane:hover {
  color: #7A7A7A !important;
}

.btn-fill:link, .btn-fill:visited {
  padding: 1.2rem 3.5rem;
  text-decoration: none;
  font-size: 1.6rem;
  transition: all 0.4s;
  color: #000;
  background-color: #fff;
}
.btn-fill:hover {
  background-color: #205EA8;
  color: #fff;
}

.btn-fill-blue:link, .btn-fill-blue:visited {
  background-color: #205EA8;
  color: #fff;
}
.btn-fill-blue:hover {
  background-color: #000;
}

.sub-section-box1 {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("/source/img/hero-sub-banner3.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}
.sub-section-box1__tittle {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
}

.sub-section-box2 {
  background-image: url("/source/img/hero-sub-banner2.jpg");
  background-size: cover;
  background-position: center;
  height: 90%;
}
.sub-section-box2__tittle {
  opacity: 0;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  vertical-align: middle;
  transition: all 0.3s;
}
.sub-section-box2:hover .sub-section-box2__tittle {
  opacity: 1;
  vertical-align: middle;
}
.sub-section-box2:hover {
  background-image: linear-gradient(to bottom right, rgba(32, 94, 168, 0.4), rgba(32, 94, 168, 0.8)), url("/source/img/hero-sub-banner2.jpg");
}

.sub-section-box3 {
  background-image: url("/source/img/hero-sub-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 90%;
  transition: all 0.3s;
}
.sub-section-box3__tittle {
  opacity: 0;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  vertical-align: middle;
  transition: all 0.3s;
}
.sub-section-box3:hover .sub-section-box3__tittle {
  opacity: 1;
  vertical-align: middle;
}
.sub-section-box3:hover {
  background-image: linear-gradient(to bottom right, rgba(32, 94, 168, 0.4), rgba(32, 94, 168, 0.8)), url("/source/img/hero-sub-banner.jpg");
}

.skill-img {
  filter: brightness(50%);
  transition: all 0.9s;
}
.skill-img:hover {
  filter: brightness(100%);
}

.features .feature {
  list-style: none;
}
.features .feature:not(:last-child) {
  margin-bottom: 2rem;
}
.features .feature__name {
  font-size: 1.6rem;
  margin-left: 2rem;
}
.features i {
  font-size: 3rem;
  color: #205EA8;
  vertical-align: middle;
}

.banner-box {
  background-color: #205EA8;
  width: 50%;
  text-align: end;
}

.banner {
  background-image: linear-gradient(to right, rgba(131, 131, 131, 0.5), rgba(131, 131, 131, 0.5)), url("/source/img/contact/banner.jpg");
  background-position: center;
  background-size: cover;
  height: 30vh;
}

.contact-box__icon {
  color: #205EA8;
  font-size: 4rem;
}

/*# sourceMappingURL=style.css.map */
