.header{
    height: 100vh;
    background-image: linear-gradient(to right, rgba($color-primary,.8), rgba($color-primary,.8)), url('/source/img/painting-slide-1.jpg');
    background-position: center;
    background-size: cover;
    nav {
        background-color: rgba(131,131,131,.8);
        position: relative;
    }
}
.content-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
    &__caption{
        
    }
    &__description {
        margin-bottom: 5rem;
    }
    &__button {
    
    }
}