.sub-section-box1 {
    background-image:linear-gradient(to bottom right, rgba($color-black,.4), rgba($color-black,.8)), url('/source/img/hero-sub-banner3.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;

    &__tittle {
        font-size: 2rem;
        color: $color-white;
        font-weight: 600;
    }
}
.sub-section-box2 {
    background-image: url('/source/img/hero-sub-banner2.jpg');
    background-size: cover;
    background-position: center;
    height: 90%;

    &__tittle {
        opacity: 0;
        font-size: 2rem;
        color: $color-white;
        font-weight: 600;
        vertical-align: middle;
        transition: all .3s;
    }

    &:hover &__tittle {
        opacity: 1;
        vertical-align: middle;
    }
    &:hover {
        background-image: linear-gradient(to bottom right, rgba($color-primary,.4), rgba($color-primary,.8)), url('/source/img/hero-sub-banner2.jpg');;
    }
}

.sub-section-box3 {
    background-image: url('/source/img/hero-sub-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 90%;
    transition: all .3s;

    &__tittle {
        opacity: 0;
        font-size: 2rem;
        color: $color-white;
        font-weight: 600;
        vertical-align: middle;
        transition: all .3s;
    }

    &:hover &__tittle {
        opacity: 1;
        vertical-align: middle;
    }
    &:hover {
        background-image: linear-gradient(to bottom right, rgba($color-primary,.4), rgba($color-primary,.8)), url('/source/img/hero-sub-banner.jpg');;
    }
}
